main {
  display: flex;
}

.adm-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background: var(--darkOrange);
  padding: 50px 10% 100px 10%;
  border-bottom: 2px solid #000;
}

@media (max-width: 1366px) {
  .adm-container {
    padding: 50px 20px 100px 20px;
  }
}

.adm-container form {
  display: flex;
  padding-bottom: 100px;
}

.adm-container .search {
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 40px;
  padding: 10px 15px;
  border: none;
  letter-spacing: 1px;
  font-size: 1rem;
  width: 350px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.adm-container form button {
  border: none;
  background: #000;
  color: #fff;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 100px;
  font-size: 1.1rem;
  font-weight: bolder;
}

.classes-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

@media (max-width: 1366px) {
  .classes-grid {
    gap: 15px;
  }
}

@media (max-width: 1024px) {
  .classes-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
  }
}

.classes-grid .classe-card {
  border-radius: 12px;
  padding: 15px;
  background: #fff;
}

.classes-grid .classe-card h1 {
  font-size: 1rem;
  text-align: center;
  margin-block-end: 10px;
}

.classes-grid .classe-card p {
  font-weight: bold;
}

.classes-grid .classe-card p span {
  font-weight: normal;
}
