.section-1 {
  background: var(--darkOrange);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-inline: 15%;
}

@media (max-width: 1366px) {
  .section-1 {
    padding-inline: 10%;
  }
}

@media (max-width: 1024px) {
  .section-1 {
    padding-inline: 30px;
    height: 600px;
  }
}

.section-1 .courses-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  width: 100%;
}

@media (max-width: 1366px) {
  .section-1 .courses-card {
    gap: 30px;
  }
}

@media (max-width: 780px) {
  .section-1 .courses-card {
    overflow-x: auto;
    scroll-snap-type: inline mandatory;
    padding-block-end: 30px;
  }

  .section-1 .courses-card::-webkit-scrollbar {
    height: 15px;
    width: 50px;
  }

  .section-1 .courses-card::-webkit-scrollbar-track {
    background: var(--darkBlue);
    border-radius: 4px;
  }

  .section-1 .courses-card::-webkit-scrollbar-thumb {
    background: var(--lightGray);
    border-radius: 4px;
  }

  .section-1 .courses-card::-webkit-scrollbar-button {
    width: calc(25% - 30px);
  }
}

.section-1 .courses-card .card {
  background: #fff;
  color: #000;
  border-radius: 12px;
  padding: 30px;
}

@media (max-width: 780px) {
  .section-1 .courses-card .card {
    scroll-snap-align: start;
    min-width: calc(50% - 1rem);
  }
}

.section-1 .courses-card .card h1 {
  text-align: center;
  margin-block-end: 50px;
}

.section-1 .courses-card .card p {
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
}

.section-1 .enroll-btn {
  margin-block-start: 20px;
}

.section-2 {
  background: #000;
  width: 100%;
  height: auto;
}

@media (max-width: 780px) {
  .section-2 {
    padding-inline: 5%;
    padding-block-end: 20px;
  }
}

.section-2 .section-container {
  width: 80%;
  margin: auto;
  padding: 100px 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

@media (max-width: 1366px) {
  .section-2 .section-container {
    width: 85%;
    padding: 100px 8%;
  }
}

@media (max-width: 1024px) {
  .section-2 .section-container {
    width: 100%;
    padding: 100px 0;
  }
}

@media (max-width: 780px) {
  .section-2 .section-container {
    overflow-x: auto;
    scroll-snap-type: inline mandatory;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 40px 0;
    gap: 20px;
  }
  .section-2 .section-container::-webkit-scrollbar {
    height: 15px;
    width: 50px;
  }

  .section-2 .section-container::-webkit-scrollbar-track {
    background: var(--darkBlue);
    border-radius: 4px;
  }

  .section-2 .section-container::-webkit-scrollbar-thumb {
    background: var(--lightGray);
    border-radius: 4px;
  }

  .section-2 .section-container::-webkit-scrollbar-button {
    width: calc(25% - 30px);
  }
}

.section-2 .section-container .courses-description-card {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #000;
  margin: 0 10px;
  padding: 10px;
  border-radius: 12px;
}

@media (max-width: 780px) {
  .section-2 .section-container .courses-description-card {
    flex-direction: column;
    scroll-snap-align: start;
    min-width: calc(50% - 1.5rem);
  }
}

.section-2 .section-container .courses-description-card .title {
  font-size: 0.9rem;
}

.section-2 .section-container .courses-description-card .module h1 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}
