main {
  display: flex;
}

.form-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  background: var(--darkOrange);
  padding: 100px 10% 100px 10%;
  border-bottom: 2px solid #000;
  min-height: 797px;
}

@media (max-width: 1366px) {
  .form-container {
    padding: 100px 8% 100px 8%;
  }
}

@media (max-width: 1024px) {
  .form-container {
    padding-block: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.form-container form {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .form-container form {
    margin-block-end: 80px;
  }
}

.form-container form h1 {
  font-size: 1.4rem;
  margin-block-end: 15px;
}

.form-container form input {
  width: 300px;
  height: 35px;
  border-radius: 4px;
  border: none;
  margin-block-end: 5px;
  font-size: 1.1rem;
  padding: 0 10px;
}

@media (max-width: 1024px) {
  .form-container form input {
    width: 380px;
  }
}

.form-container form label {
  font-weight: bold;
}

.form-result h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  margin-block-end: 20px;
}

.form-result h1 img {
  margin-inline-start: 20px;
}

.form-result p {
  font-size: 1.1rem;
  margin-block-end: 5px;
  font-weight: bold;
}

.form-result p span {
  font-weight: normal;
}
