.footer {
  background: var(--darkOrange);
  width: 100%;
  height: auto;
}

@media (max-width: 780px) {
  .footer {
    padding-block-end: 65px;
  }
}

.footer-content {
  padding-inline: 15%;
  padding-block: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .footer-content {
    justify-content: space-around;
  }
}

@media (max-width: 1366px) {
  .footer-content {
    padding-inline: 10%;
  }
}

.footer-logo {
  margin-block-end: 30px;
}

.map-image {
  border: 2px solid #000;
  border-radius: 4px;
  width: 350px;
  height: 220px;
}

@media (max-width: 1366px) {
  .map-image {
    border: 2px solid #000;
    border-radius: 4px;
    width: 300px;
    height: 190px;
  }
}

.footer-content h1 {
  font-size: 1.4rem;
  margin-block-end: 15px;
}

@media (max-width: 1366px) {
  .footer-content h1 {
    font-size: 1.3rem;
  }
}

.map p {
  font-size: 0.85rem;
  font-family: 'Open Sans', sans-serif;
}

.footer-section {
  margin-block-start: 75px;
}

.links ul li {
  margin-block-end: 8px;
}

@media (max-width: 1024px) {
  .links {
    margin-inline: 40px;
  }
}

.footer-link:hover {
  color: var(--darkBlue);
}

.links ul li:nth-last-child() {
  margin-block-end: 0;
}

.social-media {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.social-media ul {
  display: flex;
  gap: 10px;
}

.social-media ul a img {
  width: 24px;
}

.social-media ul a img:hover {
  transform: scale(1.1);
}
