@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400;500&display=swap');

:root {
  --lightGray: #fbfbfb;
  --darkBlue: #005f63;
  --darkOrange: #f6c34a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

.first-section {
  height: 500px;
  width: 100%;
}
