@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400;500&display=swap');

:root {
  --lightGray: #fbfbfb;
  --darkBlue: #005f63;
  --darkOrange: #f6c34a;
  --gray: #707070;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.first-section {
  height: 500px;
  width: 100%;
}

.primary-button {
  display: inline-block;
  padding: 15px 70px;
  background: #000;
  border-radius: 8px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  margin-block-start: 100px;
}

@media (max-width: 550px) {
  .primary-button {
    padding-inline: 30px;
    margin-block-start: 50px;
    font-size: 1rem;
  }
}

.primary-button:is(:hover, :focus),
.secondary-button:is(:hover, :focus) {
  transform: scale(0.99);
  background: #181818;
}

.secondary-button {
  border: none;
  background: #000;
  color: #fff;
  margin-block-start: 40px;
  width: 100%;
  height: 50px;
  border-radius: 9px;
  font-weight: bold;
  font-size: 1rem;
}

.whatsapp-logo {
  position: fixed;
  bottom: 8%;
  right: 4%;
  width: 55px;
}

@media (max-width: 780px) {
  .whatsapp-logo {
    bottom: 4%;
    right: 3%;
    width: 45px;
  }
}
