.section-1 {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-1 .bg-img {
  background: var(--darkOrange);
  overflow: hidden;
  background-position: center;
  background-size: contain;
}

.section-1 .section-content {
  position: absolute;
  text-align: center;
}

.section-1 .section-content h1 {
  font-size: 2.8rem;
  font-weight: 700;
}

@media (max-width: 1366px) {
  .section-1 .section-content h1 {
    font-size: 2.6rem;
    font-weight: 700;
  }
}

.section-1 .section-content p {
  font-size: 1.5rem;
}

@media (max-width: 1366px) {
  .section-1 .section-content p {
    font-size: 1.4rem;
  }
}

.section-2 {
  padding: 50px 15%;
  background: #000;
  color: #fff;
  height: auto;
}

@media (max-width: 1366px) {
  .section-2 {
    padding: 50px 10%;
  }
}

.section-2 .about-us {
  width: 80%;
  margin: auto;
  margin-bottom: 100px;
}

.section-2 .section-name {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin-block-end: 30px;
}

@media (max-width: 1366px) {
  .section-2 .section-name {
    font-size: 1.9rem;
  }
}

.section-2 .about-us p {
  font-size: 1.1rem;
  font-family: 'Open Sans', sans-serif;
}

.section-2 .reviews-card-container {
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
}

.section-2 .review-card {
  width: auto;
  height: auto;
  background: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #000;
  padding: 25px 20px;
}

.section-2 .review-card img {
  margin-block-end: 40px;
  width: 100px;
}

.section-2 .review-card p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
}
